node '$node.novalocal' {
  $$fc_playlister_be_state_manifest = '$state'
  $$playlister_cassandra_delayed_install = false

  class { 'fc_common::facts':
    stage => 'puppet-init'
  }

  class { 'fc_playlister_be::facts':
    stage => 'fc_playlister_be-init'
  }

  include class { 'fc_playlister_be': }
}
