node '$node.novalocal' {
  $$playlister_cassandra_delayed_install = false
  $$cassandra_seeds = '$seeds'

  class { 'fc_playlister_be::facts':
    stage => 'fc_playlister_be-init'
  }

  include class { 'fc_playlister_be': }
}
