fc_playlister_olap_state_fact=$state
fc_playlister_olap::cluster_name=$cluster_name
fc_playlister_olap::oltp_ips=$oltp_ips
fc_playlister::cephfs_list=$cephfs_list
fc_playlister::manila_key=$manila_key
fc_playlister::manila_path=$manila_path
